<!doctype html>
<html lang="en">
<header></header>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="">Materiais</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{{ url_for('allcategoriasanditens') }}">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="{{ url_for('categorias') }}">Categorias</a>
      <a class="nav-item nav-link" href="{{ url_for('allitenscategoria') }}">Itens</a>
      <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </div>
  </div>
</nav>
    {%- for message in get_flashed_messages() %}
       {{ message }}
    {%- endfor %}

    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          {% for categoria in categoria %}
            <h4>{{ categoria.name }}</h4>
          {% endfor %}
          <table class="table table-condensed table-hover">
             <thead>
                <tr>
                   <th scope="col">ID</th>
                   <th scope="col">Name</th>
                </tr>
             </thead>

             <tbody>
                {% for categoria in categoria %}
                   <tr>
                      <form action="{{url_for('deletecategoria',categoria_id=categoria.id)}}" method = 'POST'>
                      <td>{{ categoria.id }}</td>
                      <td>{{ categoria.name }}</td>
                      </tr>
                {% endfor %}
             </tbody>

          </table>
                      <input class="btn btn-secondary btn-sm" type='submit' onclick="confirmDelete" value='Delete All' name'delete'>
        </div>
      <div class="col-sm-4">
        <h4> Itens dessa categoria: </h4>
        <table class="table table-condensed table-hover">
           <thead>
              <tr>
                 <th scope="col">ID</th>
                 <th scope="col">Name</th>
              </tr>
           </thead>

           <tbody>
              {% for item in itens %}
                 <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                 </tr>
              {% endfor %}
           </tbody>
        </table>
      </div>
    </div>
  </div>

    <br>

</body>
</html>
